@import url("./style.css");

* {
    outline: none !important;
}

*:focus {
    outline: none !important;
}
textarea:focus,
input:focus {
    outline: none !important;
}

body {
    color: var(--ltn__paragraph-color);
    font-family: var(--ltn-font-family);
}

.shopping-cart h1 {
    color: var(--ltn__secondary-color-3);
}

.prod-info,
.products-title {
    max-width: 400px !important;
    min-width: 400px !important;
}

.prod-info .image-container {
    min-height: 300px !important;
    min-width: 400px !important;
    max-height: 300px !important;
    max-width: 400px !important;
    overflow: hidden;
    background-size: cover !important;
    background-position: center !important;
}

.prod-info .image-container img {
    height: 100% !important;
}

.prod-info .prod-title {
    font-weight: 500;
}

.prod {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px;
    border-color: #eee;
    border-style: solid;
}

.prod:last-of-type {
    border-bottom: 0px;
}

.prod-info .image-container {
    border: 2px solid #eee;
}

.cart-titles {
    border-top: 2px;
    border-bottom: 2px;
    border-left: 0px;
    border-right: 0px;
    border-color: #eee;
    border-style: solid;
}

.cart-subtotal {
    border-top: 2px;
    border-bottom: 2px;
    border-left: 0px;
    border-right: 0px;
    border-color: #eee;
    border-style: solid;
}

.cart-shipping {
    border-top: 0px;
    border-bottom: 2px;
    border-left: 0px;
    border-right: 0px;
    border-color: #eee;
    border-style: solid;
}

.cart-total {
    border-top: 0px;
    border-bottom: 2px;
    border-left: 0px;
    border-right: 0px;
    border-color: #eee;
    border-style: solid;
}

.cart-container .right-sub-container .separator {
    width: 2px;
    max-width: 2px;
    height: 100%;
    background-color: #eee;
}

button.checkout-button {
    background-color: var(--ltn__primary-color-3);
    color: white;
    font-weight: bolder;
}

button.continue-shopping-button {
    background-color: var(--ltn__secondary-color);
    color: white;
    font-weight: bolder;
}

button.checkout-button:hover {
    background-color: var(--ltn__primary-color);
    font-weight: bolder;
    color: white;
}

button.continue-shopping-button:hover {
    background-color: var(--ltn__secondary-color-2);
    color: white;
    font-weight: bolder;
}

i {
    color: var(--ltn__primary-color) !important;
}
i:hover {
    color: var(--ltn__secondary-color-2) !important;
    animation: rotate 0.5s linear 1;
    -webkit-animation: rotate 0.5s linear 1;
}

@keyframes rotate {
    0%,
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    25% {
        transform: rotate(25deg);
        -webkit-transform: rotate(25deg);
        -moz-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
        -o-transform: rotate(25deg);
    }
    75% {
        transform: rotate(-25deg);
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
        -o-transform: rotate(-25deg);
    }
}
/* 
.prod-qty-add,
.prod-qty-remove {
    background-color: transparent;
    color: var(--ltn__primary-color-3);
    font-weight: bolder;
    padding: 10px 25px !important;
    border: none;
}

.prod-qty-add:hover,
.prod-qty-remove:hover {
    background-color: transparent;
    color: var(--ltn__secondary-color);
}

.prod-qty-value {
    font-weight: bolder;
    outline: none;
    border: none;
}
.qty-controls {
    border: 3px solid var(--ltn__primary-color-3);
} */

.prod-delete {
    max-width: 50px;
}
