@import url("./style.css");

body {
    color: var(--ltn__paragraph-color);
    font-family: var(--ltn-font-family);
}

.shopping-cart h1 {
    color: var(--ltn__secondary-color-3);
}

.prod-info .image-container {
    min-height: 300px !important;
    min-width: 400px !important;
    max-height: 300px !important;
    max-width: 400px !important;
    overflow: hidden;
    background-size: cover !important;
    background-position: center !important;
}

.prod-info .image-container img {
    height: 100% !important;
}

.prod-info .prod-title {
    font-weight: 500;
    /* max-width: 300px; */
}

.prod {
    position: relative;
}

.prod::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 10px;
    background-color: #eee;
}

.prod:last-of-type::after {
    display: none;
}

.prod-info .image-container {
    border: 2px solid #eee;
}

.cart-titles {
    border-top: 2px;
    border-bottom: 2px;
    border-left: 0px;
    border-right: 0px;
    border-color: #eee;
    border-style: solid;
}

.cart-subtotal {
    border-top: 2px;
    border-bottom: 2px;
    border-left: 0px;
    border-right: 0px;
    border-color: #eee;
    border-style: solid;
}

.cart-shipping {
    border-top: 0px;
    border-bottom: 2px;
    border-left: 0px;
    border-right: 0px;
    border-color: #eee;
    border-style: solid;
}

.cart-total {
    border-top: 0px;
    border-bottom: 2px;
    border-left: 0px;
    border-right: 0px;
    border-color: #eee;
    border-style: solid;
}

.cart-container .right-sub-container .separator {
    width: 2px;
    max-width: 2px;
    height: 100%;
    background-color: #eee;
}

button.checkout-button {
    background-color: var(--ltn__primary-color-3);
    border: 5px solid var(--ltn__primary-color);
    color: white;
    font-weight: bolder;
}

button.continue-shopping-button {
    background-color: var(--ltn__secondary-color);
    color: white;
    font-weight: bolder;
}

button.checkout-button:hover {
    background-color: var(--ltn__primary-color);
    font-weight: bolder;
    color: white;
}

button.continue-shopping-button:hover {
    background-color: var(--ltn__secondary-color-2);
    color: white;
    font-weight: bolder;
}

i:hover {
    color: var(--ltn__secondary-color) !important;
    transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
}
