@import url('./style.css');
footer{
    background-color: var(--white-6);
}
ul{
    display: inline;
    padding: 1;
}
a:link {text-decoration:none}
a:hover {text-decoration:underline}
hr {
    align-content : center;
    margin-left : auto;
    margin-right : auto;
    }
li{
  color: brown;
}

/* put css code here for index page */

/* nav style */
/* icons hover */
.icon1{
    color: var(--ltn__primary-color-2);
}
.icon:hover,.icon1:hover{
    color: var( --ltn__secondary-color);
}
.second-nav{
    background-color: var(--white-6);
}
.cart-btn{
    border-radius: 50%;
    height: 27px;
    width: 25px;
    border: 0;
    background-color: var(--ltn__secondary-color);
    position: relative;
    right: 25%;
    bottom: 15%;
}