@import url("./style.css");

:root {
    --cart_prod_size: 350px;
    --separators-color: #eee;
}

* {
    outline: none !important;
}

*:focus {
    outline: none !important;
}
body {
    font-family: var(--ltn-font-family);
}

.btn {
    background-color: black;
    color: white;
    font-weight: bolder;
}

.btn:hover{
    background-color: var(--ltn__secondary-color);
}

i {
    color: var(--ltn__primary-color) !important;
}

i:hover {
    color: var(--ltn__secondary-color-2) !important;
    animation: scale 0.3s linear 1;
    -webkit-animation: scale 0.3s linear 1;
    /* border-color:var(--ltn__secondary-color-2) ; */
}
@keyframes scale {
    0%,
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    50% {
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
    }
}
p{
    word-break: break-all;
    white-space: pre-line;
}
.desc{
    background-color: var(--border-color-8);
    width:77%;
}
.accordion-button{
    background-color: var(--border-color-8);
    border: none;
}
.accordion-button:hover{
    background-color: var(--ltn__secondary-color);
    border: black;
}
.accordion-body{
    word-break: break-all;
    white-space: pre-line;
}
.accordion{
    width: 77%;
}
.accordion h5{
    color: black;
}
/* h5{
    word-break: break-all;
    white-space: pre-line;
} */

