@import url('./style.css');

.div-btn{
    padding: 1.2%;
}
.btn-form{
    background-color: var(--ltn__secondary-color);
    color: white;
}
.btn-form:hover{
    color: white;
    background-color: var( --ltn__primary-color);
}
input:hover{
    border:1px solid var(--ltn__secondary-color);
}

