 @import url("../style.css");
/* body{
    background-color: blueviolet;
}
.btn2 {
    background-color: black;
    color: white;
    font-weight: bolder;
}
.btn:hover{
    background-color: var(--ltn__secondary-color) !important;
}

i {
    color: var(--ltn__primary-color) !important;
}

i:hover {
    color: var(--ltn__secondary-color-2) !important;
    animation: scale 0.3s linear 1;
    -webkit-animation: scale 0.3s linear 1;
}
*/

.btn-close{
    top: 10px;
    right:35px;
    }

#quickviewpopup {
    display: none;
}

#quickviewpopup,
.modal-dialog {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
}

#quickviewpopup::before {
    content: "";
    position: fixed;
    display: block;
    width: 100vw !important;
    height: 100vh !important;
    background-color: rgba(0, 0, 0, 0.45);
}
.modal-dialog {
    margin: 0px;
    width: 70% !important;
    height: 70% !important;
}

.btn2{
    background-color: black;
    color: white;
}

.btn2:hover{
    background-color: var(--ltn__secondary-color-2) !important ;
    color: white;
}
i:hover {
    color: var(--ltn__secondary-color-2) !important;
    animation: scale 0.3s linear 1;
    -webkit-animation: scale 0.3s linear 1;
}