@import url('../style.css');

.title{
    color:  var(--border-color-4) ;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input:hover {
    border-color: var(--border-color-4);
}

.btn-form{
    background-color: var(--border-color-4);    
    color: aliceblue;
}
.btn-form:hover{
    border: 1px solid black;
    background-color: white;
}

